@model ApplicationServicePersonne.Models.Rendez_vous

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rendez_vous</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heure_RDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heure_RDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.nom_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nom_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employeur.nom_employeur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
