@model IEnumerable<ApplicationServicePersonne.Models.Employeur>
@{
    /**/

    ViewBag.Title = "Liste_recherche";
    Layout = "~/Views/Shared/_MyLayoutSAP.cshtml";
}

<div class="tg-detailpagehead">
    <figure>

        <img src=@Url.Content("~/content/MyTemplate/images/Acceuilservices1.png") alt="header">

        <figcaption>
            <div class="tg-mapinnerbanner">

                <div class="tg-searchbox">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
                                <!--formulaire de recherche sur map-->
                                <form class="tg-themeform tg-formsearch">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="text" name="MotCle" class="form-control" placeholder="Mot-clé">
                                        </div>
                                        <div class="form-group tg-inputwithicon">
                                            <div class="locate-me-wrap">
                                                <div id="location-pickr-map" class="elm-display-none"></div>
                                                <input type="text" autocomplete="on" id="location-address" value="" name="geo_location" placeholder="Localisation géographique" class="form-control">
                                                <a href="javascript:;" class="geolocate"><i class="fa fa-crosshairs"></i></a>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="tg-select">
                                                <select name="nomservice">
                                                    <option value="Not Selected">Catégorie</option>
                                                    <option value="Maintenance De Voiture">Maintenance de voiture</option>
                                                    <option value="Construction & Renovation">Construction &amp; Renovation</option>
                                                    <option value="Menuisier En General">Menuisier en General</option>
                                                    <option value="Garde D'enfant">Garde d'enfant</option>
                                                    <option value="Ménage">Ménage</option>
                                                    <option value="Transportation & Management">Transportation &amp; management</option>
                                                    <option value="Plombier">Plombier</option>
                                                    <option value="Electricité Maison">Electricité Maison</option>
                                                    <option value="Décoration">Décoration</option>
                                                </select>
                                            </span>
                                        </div>
                                        <button class="tg-btn" type="submit">
                                            <i class="lnr lnr-magnifier"></i>
                                        </button>
                                    </fieldset>
                                </form>
                                <img src=@Url.Content("~/content/MyTemplate/images/slogon.png")>
                                <!--fin de formulaire de recherche sur map-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-right">
                    <div class="row">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-listing tg-listview">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <span class="tg-totallistingfound">@ViewBag.rst</span>
                                    <div class="tg-sortfilters">
                                        <div class="tg-sortfilter tg-sortby">
                                            <span>Trier par:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>Nom</option>
                                                    <option>Type</option>
                                                    <option>Date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tg-sortfilter tg-arrange">
                                            <span>Ordre:</span>
                                            <div class="tg-select">
                                                <select>
                                                    <option>des</option>
                                                    <option>Asc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @foreach (var item in Model)
                                {

                                    <!--**** Début : Composant Dynamique de la liste des candidats et les services offerte ****-->
                                    <div class="tg-serviceproviders">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="tg-serviceprovider tg-automotive">
                                                <figure class="tg-featuredimg">
                                                    <div class="img-responsive">
                                                        <img src="~/Photos/@item.photo_employeur" height="270" width="370">
                                                    </div>
                                                    <figcaption>
                                                        <a class="tg-themetag tg-categorytag" href="javascript:void(0);">service</a>
                                                        <a class="tg-heart" href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                                    </figcaption>
                                                </figure>
                                                <div class="tg-companycontent">
                                                    <ul class="tg-tags">
                                                        <li><a class="tg-tag tg-featuredtag" href="#">Bien Noter</a></li>
                                                        <li><a class="tg-tag tg-verifiedtag" href="#">vérifier</a></li>
                                                    </ul>
                                                    <div class="tg-title">
                                                        <h3><a href="#"> @Html.DisplayFor(modelItem => item.nom_employeur)  @Html.DisplayFor(modelItem => item.prenom_employeur)</a></h3>
                                                    </div>
                                                    <ul class="tg-matadata">
                                                        <li><span class="tg-stars"><span></span></span></li>
                                                        <li>
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                            <em>(votes)</em>
                                                        </li>
                                                    </ul>
                                                    <ul class="tg-companycontactinfo">
                                                        <li>
                                                            <i class="lnr lnr-phone-handset"></i>
                                                            <span data-toggle="tooltip" data-placement="top" title="Click to view Number" data-last=@Html.DisplayFor(modelItem => item.mobile_employeur)>(+216) <em>XX - XXX - XXX</em></span>
                                                        </li>
                                                        <li>
                                                            <i class="lnr lnr-envelope"></i>
                                                            <span data-toggle="tooltip" data-placement="top" title="Click to view Email" data-last="gmail.com"><a href="mailto:query@domain.com">  @Html.DisplayFor(modelItem => item.email_employeur)<em>XXXXX.XXX</em></a></span>
                                                        </li>
                                                    </ul>
                                                    <a class="tg-btn" href="#">Prendre un rendez-vous</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }



                                <!--**** Fin : Composant de la liste des candidats et les services offerte ****-->



                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <nav class="tg-pagination">
                                        <ul>

                                            <li class="tg-prevpage"><a href="#"><i class="fa fa-angle-left"></i></a></li>

                                            @for (int i = 1; i < ViewBag.Pagesmax; i++)
                                            {
                                                <li><a href="#">@i</a></li>
                                            }



                                            <li><a href="#">@ViewBag.Pagesmax</a></li>
                                            <li class="tg-nextpage"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <form class="tg-themeform tg-formrefinesearch">
                            <fieldset>
                                <h4>Catégories</h4>
                                <div class="tg-checkboxgroup">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-cabservice" name="filtercategories" value="Maintenance De Voiture" checked>
                                        <label for="tg-cabservice">Maintenance De Voiture</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-carcareservicing" name="filtercategories" value="Construction & Renovation">
                                        <label for="tg-carcareservicing">Construction & Renovation</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-cardealer" name="filtercategories" value="Menuisier En General">
                                        <label for="tg-cardealer">Menuisier En General</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Garde D'enfant">
                                        <label for="tg-rebtacar">Garde D'enfant</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Ménage">
                                        <label for="tg-rebtacar">Ménage</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Transportation & Management">
                                        <label for="tg-rebtacar">Transportation & Management</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Plombier">
                                        <label for="tg-rebtacar">Plombier</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Electricité Maison">
                                        <label for="tg-rebtacar">Electricité Maison</label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="tg-rebtacar" name="filtercategories" value="Décoration">
                                        <label for="tg-rebtacar">Décoration</label>
                                    </span>
                                </div>
                                <!--<a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categoryModal">View All</a> -->
                            </fieldset>
                            <fieldset>
                                <h4>Filtrer par lieu</h4>
                                <div class="tg-checkboxgroup">

                                    <div class="form-group">
                                        <span class="tg-select">
                                            <select name="filterpays">
                                                <option>Sélectionner le ville</option>
                                                <option>Tunis</option>
                                                <option>Manouba</option>
                                                <option>kairouan</option>
                                                <option>nabeul</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="form-group tg-inpuicon">
                                        <input type="text" name="Codepostal" class="form-control" placeholder="Code Postal">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h4>Filtrer par note</h4>
                                <div class="tg-checkboxgroup tg-ratingcheckbox">
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="nostar" name="filternote" value="0">
                                        <label for="nostar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="onestar" name="filternote" value="1">
                                        <label for="onestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="twostar" name="filternote" value="2">
                                        <label for="twostar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="threestar" name="filternote" value="3">
                                        <label for="threestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="fourstar" name="filternote" value="4">
                                        <label for="fourstar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                    <span class="tg-checkbox">
                                        <input type="checkbox" id="fivestar" name="filternote" value="5">
                                        <label for="fivestar"><span class="tg-stars"><span></span></span></label>
                                    </span>
                                </div>
                            </fieldset>

                            <fieldset>
                                <button class="tg-btn" type="submit">Appliquer</button>
                                <button class="tg-btn" type="reset">Réinitialiser</button>
                            </fieldset>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>

