@model IEnumerable<ApplicationServicePersonne.Models.Fichier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_fichier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fichier1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_fichier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fichier1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employeur.nom_employeur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_fichier }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_fichier }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_fichier })
        </td>
    </tr>
}

</table>
