@model ApplicationServicePersonne.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employeur.nom_employeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_note.nom_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_note.nom_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_note }) |
    @Html.ActionLink("Back to List", "Index")
</p>
