@model ApplicationServicePersonne.Models.Heure_travail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heure_travail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heure_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heure_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heure_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heure_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employeur.nom_employeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jour.nom_jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jour.nom_jour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_heure }) |
    @Html.ActionLink("Back to List", "Index")
</p>
