@model IEnumerable<ApplicationServicePersonne.Models.Heure_travail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.heure_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heure_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jour.nom_jour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.heure_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employeur.nom_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jour.nom_jour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_heure }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_heure }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_heure })
        </td>
    </tr>
}

</table>
