@model IEnumerable<ApplicationServicePersonne.Models.Avi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre_avis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_avis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre_avis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_avis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employeur.nom_employeur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_avis }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_avis }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_avis })
        </td>
    </tr>
}

</table>
