@model IEnumerable<ApplicationServicePersonne.Models.Employeur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexe_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disponibilité_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password_employeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre_serv_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_serv_emp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.nom_service)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom_employeur)
        </td>
        <td>
            <img src="~/Photos/@item.photo_employeur" height="270" width="370" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexe_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disponibilité_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password_employeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre_serv_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_serv_emp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.nom_service)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_employeur }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_employeur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_employeur })
        </td>
    </tr>
}

</table>
