@model ApplicationServicePersonne.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_msg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employeur.nom_employeur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_msg }) |
    @Html.ActionLink("Back to List", "Index")
</p>
