@model IEnumerable<ApplicationServicePersonne.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_msg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employeur.nom_employeur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_msg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employeur.nom_employeur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_msg }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_msg }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_msg })
        </td>
    </tr>
}

</table>
