@model IEnumerable<ApplicationServicePersonne.Models.Contact_admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sujet_contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sujet_contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_contact }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_contact }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_contact })
        </td>
    </tr>
}

</table>
